form.d-flex(#searchForm='ngForm' '(ngSubmit)'='doSearch(search)')
    input.mr-2.form-control.text-center('[placeholder]'='searchPlaceHolder' name='search' '[(ngModel)]'='search' '(change)'='doSearch(search)')
    button.btn.btn-primary('[hidden]'='hideButton') {{buttonText}}
