form.d-flex(#searchForm='ngForm' '(ngSubmit)'='doSearch(search)')
    .input-group
      input.form-control.text-center('[placeholder]'='searchPlaceHolder' name='search' '[(ngModel)]'='search' '(change)'='doSearch(search)')
      span.input-group-addon
        i.fa.fa-search(aria-hidden='true')
