form {
  align-items: center;
}

.inner-addon {
  .form-control {
      border-radius: 0.25rem;
  }

  .right-addon {
    background: none;
    border: 0;
    color: #999;
    position: absolute;
    right: 0;
    top: 0.1rem;
    z-index: 5;
  }
}

.form-control:focus {
  box-shadow: none;
}
