form.d-flex(#searchForm='ngForm' '(ngSubmit)'='doSearch(search)')
    .input-group.inner-addon
        span.input-group-addon.right-addon
            i.fa.fa-search(aria-hidden='true')
        input.form-control(
            '(change)'='doSearch(search)'
            '[(ngModel)]'='search',
            '[placeholder]'='searchPlaceHolder',
            name='search',
            autocomplete='off')
