form.d-flex(#searchForm='ngForm' '(ngSubmit)'='doSearch(search)')
    input.mr-2.form-control('[placeholder]'='searchPlaceHolder' name='search' '[(ngModel)]'='search' type='number' '(change)'='doSearch(search)')
    button.btn.btn-primary('[hidden]'='hideButton') {{buttonText}}
