nav.d-flex.justify-content-between
    ul.nav
        li.nav-item.pointer(#current='routerLinkActive' routerLinkActive='active' '[routerLinkActiveOptions]'='{exact: true}')
            a.nav-link(routerLink='/' href='javascript:;') Home

    app-search.d-flex(searchPlaceHolder='Search Speech' '(onSearch)'='onSearch($event)' '[hideButton]'='false' buttonText='Search')