nav.d-flex.justify-content-between.align-items-center
    ul.nav
        li.nav-item.pointer(routerLinkActive='active', #current='routerLinkActive', '[routerLinkActiveOptions]'='{exact: true}')
            a.nav-link(routerLink='/', href='javascript:;') Home
        li.nav-item.pointer(routerLinkActive='active', #current='routerLinkActive', '[routerLinkActiveOptions]'='{exact: true}')
            a.nav-link(routerLink='/mock', href='javascript:;') Mock

    input(placeholder='Search')