nav.d-flex.justify-content-between
    header.d-flex.align-items-center
        span.text.text-white.text-capitalize simple angular 2 project

    .d-flex.justify-content-between.nav-content
        ul.nav
            li.nav-item.pointer(#current='routerLinkActive' routerLinkActive='active' '[routerLinkActiveOptions]'='{exact: true}')
                a.nav-link(routerLink='/' href='javascript:;') Home

        app-search.d-flex(searchPlaceHolder='Search Speech By ID' '(onSearch)'='onSearch($event)' '[hideButton]'='true' buttonText='Search')