.container
    nav.d-flex.justify-content-between
        a.navbar-brand(href='javascript:;' routerLink='/')
            img.logo('[src]'='logoUrl')

        .d-flex.justify-content-between.nav-content
            ul.nav.d-flex.align-items-center
                li.nav-item.pointer(#current='routerLinkActive' routerLinkActive='active' '[routerLinkActiveOptions]'='{exact: true}')
                    a.nav-link(routerLink='/' href='javascript:;') Home
