input[type=date] {
  &.form-control {
    padding: 0.36rem 1rem;
  }
}

.form-control {
  text-overflow: ellipsis;
  text-align: center;

  &:disabled {
    background-color: white;
    border: 0;
    color: black;
    cursor: default;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
  }
}
