section
    form.form-group(#speechForm='ngForm' '(ngSubmit)'='submitSpeech(speechForm)' novalidate)
        .card
            .card-header.text-capitalize speech editor
                button.btn.btn-primary.float-right(type='button')
                    span.pr-2
                        i.fa.fa-share-alt
                    | Share
            .card-block
                .form-group
                    label Start writing your speech
                    textarea.form-control(placeholder='Ex. Join me and my team to help you break through all adversity.'
                        name='speechContent'
                        rows='4'
                        '[(ngModel)]'='setSelectedSpeech.content'
                        '[disabled]'='!isEditable'
                        required)

                .form-group
                    .row
                        .col-lg-4
                            label Author
                            input.form-control(placeholder='Ex. Kenedy' name='author'
                                '[(ngModel)]'='setSelectedSpeech.author'
                                '[disabled]'='!isEditable'
                                required)
                        .col-lg-4
                            label Subject
                            input.form-control(placeholder='Ex. I have a dream'
                                name='subject'
                                '[(ngModel)]'='setSelectedSpeech.subject'
                                '[disabled]'='!isEditable'
                                required)
                        .col-lg-4
                            label Date
                            input.form-control(type='date'
                                name='saveDate'
                                '[(ngModel)]'='setSelectedSpeech.date'
                                '[disabled]'='!isEditable'
                                required)

            .card-footer
                div(*ngIf='isEditable')
                    button.btn.btn-success.text-uppercase.float-left
                        span.pr-2
                            i.fa.fa-floppy-o
                        | save


                    button.btn.btn-danger.text-uppercase.float-right(type='button' '(click)'='isEditable = false')
                        span.pr-2
                            i.fa.fa-ban
                        | cancel

                div(*ngIf='!isEditable')
                    button.btn.btn-success.text-uppercase.float-left('(click)'='isEditable = true' '[disabled]'='!setSelectedSpeech?.id')
                        span.pr-2
                            i.fa.fa-edit
                        | Edit

                    app-warning-modal('[selectedSpeech]'='setSelectedSpeech' '[disableButton]'='!setSelectedSpeech?.id' '(cleanFrom)'='hasDeleted = $event')