section
    form.form-group(#speechForm='ngForm' '(ngSubmit)'='submitSpeech(speechForm)' novalidate)
        .card
            .card-header.text-capitalize speech editor
                button.btn.btn-primary.float-right(type='button')
                    span.pr-2
                        i.fa.fa-share-alt
                    | Share
            .card-block
                .form-group
                    label Start writing your speech
                    textarea.form-control(placeholder='Ex. Join me and my team to help you break through all adversity.'
                        name='speechContent' '[(ngModel)]'='setSelectedSpeech.content' required)

                .form-group
                    .row
                        .col-lg-4
                            label Author
                            input.form-control(placeholder='Ex. Kenedy' name='author' '[(ngModel)]'='setSelectedSpeech.author' required)
                        .col-lg-4
                            label Subject
                            input.form-control(placeholder='Ex. I have a dream' name='subject' '[(ngModel)]'='setSelectedSpeech.subject' required)
                        .col-lg-4
                            label Date
                            input.form-control(type='date' name='saveDate' '[(ngModel)]'='setSelectedSpeech.date' required)

            .card-footer
                .float-left
                    button.btn.btn-success.text-uppercase
                        span.pr-2
                            i.fa.fa-floppy-o
                        | save
                    button.btn.btn-danger.text-uppercase(type='button' '(click)'='deleteSpeech()')
                        span.pr-2
                            i.fa.fa-trash-o
                        | delete
                button.btn.btn-secondary.text-uppercase.float-right(type='button' '(click)'='resetAll()')
                    span.pr-2
                        i.fa.fa-eraser
                    | clear