form.form-group.d-flex.flex-column(#speechForm='ngForm' '(ngSubmit)'='submitSpeech(speechForm)' novalidate)
    textarea.form-control.d-flex(placeholder='Start writing your speech' name='speechContent' '[(ngModel)]'='setSelectedSpeech.content' required)
    div.d-flex.justify-content-around
        input.form-control(placeholder='Author' name='author' '[(ngModel)]'='setSelectedSpeech.author' required)
        input.form-control(placeholder='Subject' name='subject' '[(ngModel)]'='setSelectedSpeech.subject' required)
        input.form-control(placeholder='mm / dd / yyyy' type='date' name='saveDate' '[(ngModel)]'='setSelectedSpeech.date' required)
    div.d-flex.justify-content-around
        button.btn.btn-success.text-uppercase save
        button.btn.btn-danger.text-uppercase(type='button') delete
        button.btn.btn-primary(type='button') Share