doctype html
button.btn.btn-danger.text-uppercase.float-right(type='button', (click)='openModal(warningModal)' '[disabled]'='disableButton')
    span.pr-2
        i.fa.fa-trash-o
    | delete

ng-template(#warningModal let-c='close' let-d='dismiss')
    .modal-header.bg-danger.justify-content-start
        .fa.fa-exclamation-triangle.fa-2x.text-white.mr-2
        h4.modal-title.text-white Warning!
    .modal-body
        p You are about to delete a Speech, are you sure you want to do this?
    .modal-footer
        button.btn.btn-danger.text-uppercase.float-right(type='button' '(click)'='deleteSpeech()')
            span.pr-2
                i.fa.fa-trash-o
            | delete

        button.btn.btn-secondary(type='button', (click)="c('Close click')")
            span.pr-2
                i.fa.fa-ban
            | cancel
