doctype html
button.btn.btn-danger.text-uppercase.float-right(type='button', (click)='openModal(warningModal)' '[disabled]'='disableButton')
    span.pr-2
        i.fa.fa-trash-o
    | delete

ng-template(#warningModal let-c='close' let-d='dismiss')
    .modal-header
        h4.modal-title Warning
        button.close(type='button', aria-label='Close', (click)="d('Cross click')")
            span(aria-hidden='true') ×
    .modal-body
        p You are about to delete a Speech, are you sure you want to do this?
    .modal-footer
        button.btn.btn-danger.text-uppercase.float-right(type='button' '(click)'='deleteSpeech()')
            span.pr-2
                i.fa.fa-trash-o
            | delete

        button.btn.btn-secondary(type='button', (click)="c('Close click')")
            span.pr-2
                i.fa.fa-ban
            | cancel
