section#speech-list
    .card
        .card-header
            button.btn.btn-primary.text-uppercase('(click)'='onCreateSpeech()')
                span.pr-2
                    i.fa.fa-plus
                | create

        ul.list-group
            li.list-group-item(
                *ngFor='let speech of speeches',
                '(click)'='selectSpeech(speech)',
                '[ngClass]'="{'active': speech === selectedSpeech}")
                    .author Author: {{speech.author}}
                    .subject Subject: {{speech.subject}}

        .card-footer
            app-search('(onSearch)'='onSearch($event)')